In [46]:
from IPython.display import Image

## Recursion:
when a function calls itself.
in recursion a base case or a termination condition is necessary... otherwise it'll result in an infinite loop.

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

A recursive call call can only be done a specific max number of times... eg 3000 or more...beyond which python terminates the recursive process.

    When given the opportunity to use loops or recursion, it's always better to go for loops bcz they don't takup space in the stack.

In [47]:
Image(url='https://miro.medium.com/v2/resize:fit:596/1*EbULILzPjvJOkvIk6T2ggA.png', width=400, height=300)

### * and ** operators in def
most of the operators are overloaded in python !!!!!

In [1]:
def add(x,y=10):
    return x+y
add(10)

20

In [2]:
def add(y=10, x):
    return x+y
add(10)

# It's necessary to specify the default parameters after the non default parameterts.
#these are known as positional arguments.

SyntaxError: non-default argument follows default argument (2507042389.py, line 1)

In [5]:
def add(x, y):
    print(f"x:{x} , y:{y}")
    return x+y
add(y=20,x=30)

# example of key-word arguments.

x:30 , y:20

50

In [8]:
def func1():
    print("this func returns none")

x = func1()
print(x)

this func returns none
None

In [10]:
def func2():
    return "this function is returning this string"

x = func2()
print(x)

this function is returning this string

#### passing multiple arguments into one parameter using *args...

In [15]:
def func69(*args):
    for arg in args:
        print(arg, end =" ")
        
func69(1,2,3,4,5,6,7,8,9)

1 2 3 4 5 6 7 8 9

In [20]:
def sum(a,b,c):
    print(a,b,c)
args = [1, 2, 3]
sum(*args)

1 2 3

In [19]:
print(*args)
print(type(*args))

1 2 3

TypeError: type.__new__() argument 1 must be str, not int

In [21]:
def sum(a,b,c):
    print(a,b,c)
args = [1, 2, 3, 4, 5]
sum(*args)  # will result in error bcz the number of positional arguments passed is 5 instead of three.

TypeError: sum() takes 3 positional arguments but 5 were given

#### **kwargs

In [28]:
def func(**kwargs):
    for key, value in kwargs.items():
        print(key,value)

d = {'1':"xdsds",'2':'2ddf'}
func(**d)

1 xdsds
2 2ddf

## Strings
any operation that seems to modify a string is actually creating a new one !!

In [31]:
str_identifier = "fkjkfe"
str_identifier = "fjfhhjf\"" # using escape char \ to print "
str_identifier

'fjfhhjf"'

In [30]:
str_identifier = "fkjkfe' #errrrror
str_identifier = "fjfhhjf"" #errrrror

SyntaxError: unterminated string literal (detected at line 1) (590316528.py, line 1)

In [33]:
x = "World"
'world' in x

False

In [34]:
'World' in x
#in is case sensitive.

True

In [39]:
word = "Rishab IO Op"

vowels = ['a','e','i','o','u']
counter = 0
for char in word:
    if char.lower() in vowels:
        counter += 1
        
print(counter)

5

In [42]:
s = "ekjfefje"
s.capitalize(), s

('Ekjfefje', 'ekjfefje')

In [45]:
s = "HJK DJHDJKF DJFDJ" 
s.capitalize()
# this function only capitalizes the first letter of THE WHOLE STRING.

'Hjk djhdjkf djfdj'

In [56]:
x = "BlOOMBerg"
x.casefold() # doesn't consider the case of the string and compares it directly. by lowercasing everything.
y = "bLOombeRG"

y.casefold() == x.casefold()

True

In [55]:
y = x.center(80,'#') #centers the string withing a specified length of chars and fills the space with the secong parameters.
print(y)

###################################BlOOMBerg####################################

In [58]:
x = "he said: 'im good'"
x

"he said: 'im good'"

In [60]:
x = 'he said "Imgood"'
x

'he said "Imgood"'

In [61]:
x='"'
x

'"'

In [62]:
x="'"
x

"'"

In [63]:
x = "hdhaskdhajshdjkadhdjahkdhakjdhkd"

In [65]:
x.count('h')

8

In [66]:
x = "sjdfjhsfhskhfkshfkjshdhgeryigrghhbvnbmnxbuwufjejofvb"
x.count("j",0,5) # will only count from index 0 to 5.

2

In [70]:
name = "Hamza Khalid Baig"
name.endswith('g')
print(name.endswith('aig'))
print(name.endswith('dBaig'))

True
False

In [71]:
name.find("Baig") #returns lowest index of the substring.

13

In [72]:
name.index('g') #index function however returns a valueError if substring is not found.

16

In [73]:
name.find("jackshit") #returns -1 if not found

-1

In [75]:
# str.format method.
name = "Hamza"
x = "my name is {}".format(name) #use this instead of string concatenaton because it's not preferable.
x

'my name is Hamza'

In [76]:
x = "hsjhsk12323"
x.isalnum()

True

In [77]:
x = "fgfdkhj$@#$"
x.isalnum()

False

In [79]:
x="whjdhw"
x.isalpha() #isalphabet

True

In [80]:
x = '1'
ord(x)

49

In [81]:
num = "131312"
num.isnumeric()

True

In [82]:
num.isdecimal()

True

In [84]:
num = "1.234"
num.isnumeric()

False

In [85]:
num.isdecimal()

False

In [90]:
name = "hjsdhkashkd"
print(name.islower())
print(name.islower())

True
True

In [92]:
name = "Hamza"
print(name.islower())
print(name.islower())

False
False

In [93]:
name = "HAMZA"
print(name.islower())
print(name.islower())

False
False

In [95]:
li = ['hello','broskiii']
" my ".join(li)

'hello my broskiii'

In [96]:
li = ['hello','broskiii']
["bla", " bla"].join(li)

AttributeError: 'list' object has no attribute 'join'

In [97]:
name = "Hamza Khalid Baig"
name.replace("Baig", "Shaikh") #will create a replacement but not actually change the actual string as strings are immutable.
name

'Hamza Khalid Baig'

In [99]:
s1 = "good, morning, my frands"
li = s1.split(',') #splits the string into a list based on some seperator char... in this case a ',' .
li

['good', ' morning', ' my frands']

In [101]:
s1="                      ham  za                                 "
s1.strip() #use strinp to remove unwanted spaces and characters. does not reove sapces inside the string.

'ham  za'

In [102]:
name = "abcdefgh"
name[::-1] #using concept of slicing on strings.

'hgfedcba'

In [ ]:
#hash table is used under the hood of python to implement the concept of dictionary.