### Day 5

In [1]:
x = set()
type(x)

set

In [2]:
x = {1,2,3}
type(x)

set

In [3]:
x = {1:0,2:0,3:0}
type(x)

dict

In [4]:
x = {1:0,2:0,3:} #for every key a value is necessary.
type(x)

SyntaxError: expression expected after dictionary key and ':' (2341985330.py, line 1)

In [6]:
x = {} #empty set or dictionary ??
type(x)

dict

In [7]:
# so how do we define an empty set ?
x = set()
type(x)

set

In [9]:
x = {1}
print(type(x))
x = {1:0}
print(type(x))

<class 'set'>
<class 'dict'>

In [11]:
fruit = {"apple", "banana", "carrot"}
type(fruit)

set

In [12]:
x = {2,1,3,4,2,7}
print(fruit)
#it appears that list is sorted.

{1, 2, 3, 4, 7}

In [34]:
#set = {1,2,3,4,5} # here we have used the built_in function set's name in a variable.
x = [1,2,3,4,5]
set(x) #hence when we try to call set here there's an error message.(Logical error)

TypeError: 'set' object is not callable

### set methods

In [14]:
x = {'google', 'microsoft', 'apple', 'bla bla'}
x.add('new_element') #adds x to the end
x

{'apple', 'bla bla', 'google', 'microsoft', 'new_element'}

In [17]:
x.add('google') #this will not give error but will also not add duplicate in the list.
x

{'apple', 'bla bla', 'google', 'microsoft', 'new_element'}

In [18]:
x[0] # no slicing/indexing bcz sets are unordered.

TypeError: 'set' object is not subscriptable

In [19]:
x = {'set_x'}
y = {'set_x'}

x is y

False

In [20]:
x == y

True

In [21]:
z = x.copy()
z

{'set_x'}

In [22]:
x = {1}
y = {1}
x is y

False

In [40]:
x = {1,2,3,4,5,9}
y = {4,5,6,7,8}

x.difference(y)

{1, 2, 3, 9}

In [37]:
z.difference_update(y) #keep those elements that are unique to x
z

{'set_x'}

In [38]:
comp = {'google', 'microsoft', 'apple', 'bla bla'}
comp.discard('google')
comp

{'apple', 'bla bla', 'microsoft'}

In [43]:
x = {1,2,3,4,5,9}
y = {4,5,6,7,8}
z = x.intersection(y)
z, x, y

({4, 5}, {1, 2, 3, 4, 5, 9}, {4, 5, 6, 7, 8})

In [44]:
#the intersection update function will update the value of x to the intersection.
x = {1,2,3,4,5,9}
y = {4,5,6,7,8}
x.intersection_update(y)
x #here value of x gets changed.

{4, 5}

In [45]:
x.isdisjoint(y) #bcz x and y have common elements.

False

In [46]:
a ={1,2,3}
b ={4,5,6}
a.isdisjoint(b)

True

In [47]:
a={1,2,3,4,5}
b={2,3}
b.issubset(a)

True

In [48]:
a.issubset(b)

False

In [49]:
a.issuperset(b)

True

In [52]:
#what if the sets are same ?
x={1}
y={1}
x.issuperset(y), x.issubset(y)

(True, True)

In [58]:
x = {1,2,3,4,5}
x.pop()
x

{2, 3, 4, 5}

In [59]:
x.pop()
x

{3, 4, 5}

In [60]:
x.remove(5)
x

{3, 4}

In [61]:
x.discard(100) #no error will be raised even if element is not present in the list.

In [56]:
x.remove(100) #returns error if the item is not found

KeyError: 100

In [62]:
s1 = {1,2,3,4,5,6,7,8}
s2 = {10,2,33,4,85,6,7,86}
s1.symmetric_difference(s2)
#all elements apart from the common elements.

{1, 3, 5, 8, 10, 33, 85, 86}

In [ ]:
s1.symmetric_difference_update(y)
#will inject the symmetric difference to s1
"""similar to saying that
s1 = s1.symmetric_difference(s2)
but it's preferable to use the sdifupdate function.
"""

In [68]:
s1 = {1,2,3,4}
s2 = {5,6,7,8,3}
s1 , s1.union(s2) #returns the union but doesn't change s1

({1, 2, 3, 4}, {1, 2, 3, 4, 5, 6, 7, 8})

In [69]:
s1.intersection(s2)

{3}

In [70]:
s1.update({6,9,3,2}) #similar to union but changes the value of s1 and returns jackshit ! :)
s1

{1, 2, 3, 4, 6, 9}

## Tuples
defined using paranthesis

paranthesis overloading problem.

In [71]:
a = (1)
print(type(a)) #why is it int and not tuple.

<class 'int'>

In [72]:
b = (True)
type(b)

bool

In [73]:
c = ('bla bla')
type(c)

str

In [74]:
d = (1,) # to initialize an element with a single element we need to use a single comma after the intial value. 
#this comma is called trailing comma.
type(d)

tuple

In [76]:
a = ('a',)
type(a), len(a) #note that here the len remains 1 and not 2.

(tuple, 1)

A tuple can be indexed and is ordered similar to a list. only assignment cannot be done on a tuple's item. The

In [89]:
t1 = (1,2,2,2,3,4,5,6)
t1[0:5]

(1, 2, 2, 2, 3)

In [90]:
t1.count(2) # we hav eto pass the element to count

3

In [91]:
t1.count(1,2)

TypeError: tuple.count() takes exactly one argument (2 given)

In [92]:
t1.count([1,2]) # will return 0 if the element is not present.

0

In [93]:
t1.index(0) #retunrs index of the specific element passed in the function.

ValueError: tuple.index(x): x not in tuple

In [94]:
t1.index(1)

0

In [95]:
t1.index(1,2)

ValueError: tuple.index(x): x not in tuple

In [96]:
t1.insert((1,2))
t1.index(1,2)

AttributeError: 'tuple' object has no attribute 'insert'

## Functions :

In [99]:
def func1(param1):
  print(param1)   #here indentation can be any thing as long as it's uniform.
  #here indentation is 2 spaces instead of 4.
  
func1('xccdcd')

x

In [101]:
func1(100)

100

In [102]:
func1([1,2,3,4])

[1, 2, 3, 4]

In [105]:
def li_sum(li):
    return sum(li)

li= [x for x in range(100)]
li_sum(li)

4950

In [106]:
#you can change the value of list inside  a tuple
tup = (1,2,3,[1,2])
tup[3].append(5)
tup

(1, 2, 3, [1, 2, 5])